@tailwind base;
@tailwind components;
@tailwind utilities;

[data-scope='slider'][data-part='control'] {
  position: relative;
  align-items: center;
  display: flex;
}

/* [data-scope='slider'][data-part='control'] {
  position: relative;
  align-items: center;
  display: flex;
} */
